@font-face {
  font-family: 'Georgia';
  src: url('../assets/fonts/Georgia.woff2') format('woff2'),
    url('../assets/fonts/Georgia.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('../assets/fonts/Georgia-Bold.woff2') format('woff2'),
    url('../assets/fonts/Georgia-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/ArialMT.woff2') format('woff2'),
    url('../assets/fonts/ArialMT.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
    url('../assets/fonts/Arial-ItalicMT.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-family--georgia: 'Georgia', serif;
  --font-family--arial: 'Arial', sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-dark-3xl: #292929;
  --color-dark-2xl: #444444;
  --color-dark-xl: #4c4c4c;
  --color-dark-l: #545454;
  --color-dark-m: #b2b2b2;
  --color-dark-s: #cdcdcd;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;

  --viewport--xs: 320px;
  --viewport--md: 768px;
  --viewport--lg: 1280px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family--georgia);
  color: var(--color-dark-l);
  font-weight: 400;
}

/* Heading START */
h2,
h3,
h4,
h5 {
  font-family: var(--font-family--georgia);
  color: var(--color-dark-l);
  font-weight: 400;
}
h2 {
  font-size: 44px;
  line-height: 57px;
}
h3 {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}
h4 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
h5 {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}
/* Heading END */

/* Container START */
.container {
  max-width: var(--viewport--lg);
  padding: 0 40px;
  margin: 0 auto;
}
/* Container END */

/* Header START */
.header {
  position: absolute;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.header__title h1 {
  color: var(--color-primary);
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  margin: 0;
}

.header__subtitle {
  font-family: var(--font-family--arial);
  color: var(--color-white);
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0;
  margin-top: 10px;
}

.header__navigation {
  display: flex;
  margin-top: 16px;
}

.header__menu-btn {
  display: none;
}

.header__menu-list {
  list-style: none;
  display: flex;
  gap: 36px;
  padding: 0;
  margin: 0;
}

.header__menu-item_active {
  border-bottom: 3px solid var(--color-primary);
}

.header__menu-item_active .header__menu-link {
  color: var(--color-light-s);
}

.header__menu-link {
  font-family: var(--font-family--arial);
  color: var(--color-dark-s);
  font-size: 15px;
  line-height: 24px;
  transition: all 0.3s;
}

@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-light-s);
  }

  .header_theme_white .header__menu-link:hover {
    color: var(--color-dark-3xl);
  }
}

/* Header PETS START */
.header_theme_white .header__wrapper {
  padding-top: 30px;
}

.header_theme_white .header__title h1 {
  color: var(--color-dark-l);
}

.header_theme_white .header__subtitle {
  color: var(--color-dark-xl);
  margin-left: 4px;
}

.header_theme_white .header__menu-link {
  color: var(--color-dark-l);
}

.header_theme_white .header__menu-item_active .header__menu-link {
  color: var(--color-dark-3xl);
}
/* Header PETS END */

/* Header END */
