@font-face {
  font-family: 'Georgia';
  src: url('../assets/fonts/Georgia.woff2') format('woff2'),
    url('../assets/fonts/Georgia.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('../assets/fonts/Georgia-Bold.woff2') format('woff2'),
    url('../assets/fonts/Georgia-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/ArialMT.woff2') format('woff2'),
    url('../assets/fonts/ArialMT.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
    url('../assets/fonts/Arial-ItalicMT.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-family--georgia: 'Georgia', serif;
  --font-family--arial: 'Arial', sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-dark-3xl: #292929;
  --color-dark-2xl: #444444;
  --color-dark-xl: #4c4c4c;
  --color-dark-l: #545454;
  --color-dark-m: #b2b2b2;
  --color-dark-s: #cdcdcd;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;

  --viewport--xs: 320px;
  --viewport--md: 768px;
  --viewport--lg: 1280px;
}

/* Helpers START */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Helpers END */

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family--georgia);
  color: var(--color-dark-l);
  font-weight: 400;
}

/* Heading START */
h2,
h3,
h4,
h5 {
  font-family: var(--font-family--georgia);
  color: var(--color-dark-l);
  font-weight: 400;
}
h2 {
  font-size: 44px;
  line-height: 57px;
}
h3 {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}
h4 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
h5 {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}
/* Heading END */

/* Container START */
.container {
  max-width: var(--viewport--lg);
  padding: 0 40px;
  margin: 0 auto;
}
/* Container END */

/* Paragraph START */
.paragraph-l,
.paragraph-s {
  font-family: var(--font-family--arial);
  color: var(--color-dark-xl);
  font-weight: 400;
}

.paragraph-l {
  font-size: 15px;
  line-height: 24px;
}

.paragraph-s {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
}
/* Paragraph END */

/* Buttons START */
.button {
  color: var(--color-dark-3xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
}

.button_primary {
  border: none;
  padding: 15px 45px;
  background-color: var(--color-primary);
}

.button_secondary {
  padding: 13px 42.5px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.button_arrow {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.button_arrow_right svg {
  transform: rotate(180deg);
}

.button_arrow:disabled {
  border-color: var(--color-dark-s);
  cursor: not-allowed;
}

.button_arrow:disabled svg path {
  fill: var(--color-dark-s);
}

.button_close {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.button_paginator {
  width: 52px;
  height: 52px;
  font-size: 20px;
  line-height: 23px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.button_paginator:disabled {
  color: var(--color-dark-s);
  border-color: var(--color-dark-s);
  cursor: not-allowed;
}

.button_paginator:disabled svg path {
  fill: var(--color-dark-s);
}

.button_paginator_active {
  background-color: var(--color-primary);
}

.button_paginator_left svg {
  transform: rotate(180deg);
}

@media (hover: hover) {
  .button_primary:not(:disabled):hover {
    background-color: var(--color-primary-light);
  }

  .button_secondary:not(:disabled):hover,
  .button_arrow:not(:disabled):hover,
  .button_close:not(:disabled):hover,
  .button_paginator:not(:disabled):hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }

  .button_paginator_active:not(:disabled):hover {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }
}

/* Buttons END */

/* Header START */
.header {
  position: absolute;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header__title h1 {
  color: var(--color-primary);
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  margin: 0;
}

.header__subtitle {
  font-family: var(--font-family--arial);
  color: var(--color-white);
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0;
  margin-top: 10px;
  margin-left: 4px;
}

.header__navigation {
  display: flex;
  margin-top: 16px;
}

.header__menu-btn {
  display: none;
}

.header__menu-list {
  list-style: none;
  display: flex;
  gap: 36px;
  padding: 0;
  margin: 0;
}

.header__menu-item_active {
  border-bottom: 3px solid var(--color-primary);
}

.header__menu-item_active .header__menu-link {
  color: var(--color-light-s);
}

.header__menu-link {
  font-family: var(--font-family--arial);
  color: var(--color-dark-s);
  font-size: 15px;
  line-height: 24px;
  transition: all 0.3s;
}

@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-light-s);
  }

  .header_theme_white .header__menu-link:hover {
    color: var(--color-dark-3xl);
  }
}

/* Header PETS START */
.header_theme_white .header__wrapper {
  padding-top: 30px;
}

.header_theme_white .header__title h1 {
  color: var(--color-dark-l);
}

.header_theme_white .header__subtitle {
  color: var(--color-dark-xl);
}

.header_theme_white .header__menu-link {
  color: var(--color-dark-l);
}

.header_theme_white .header__menu-item_active .header__menu-link {
  color: var(--color-dark-3xl);
}
/* Header PETS END */

/* Header END */

/* Not-only START */
.not-only {
  padding-top: 180px;
  background: url('../assets/images/noise_transparent@2x.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.not-only__wrapper {
  display: grid;
  grid-template-columns: minmax(100px, 460px) minmax(100px, 698px);
  align-items: center;
  gap: 42px;
}

.not-only__left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  padding-bottom: 80px;
}

.not-only__title {
  max-width: 310px;
  color: var(--color-white);
  margin: 0;
}

.not-only__text {
  color: var(--color-dark-s);
  margin: 0;
}

.not-only__img {
  align-self: end;
}
/* Not-only END */

/* About START */
.about {
  padding: 80px 0 100px;
}

.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.about__img {
  max-width: 23.5vw;
}

.about__right-side {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__title {
  max-width: 370px;
  margin: 0;
}

.about__text {
  margin: 0;
}
/* About END */

/* Our friends START */
.our-friends {
  background-color: var(--color-light-l);
  padding: 80px 0 100px;
}

.our-friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-friends__title {
  max-width: 400px;
  margin: 0;
  text-align: center;
  margin-left: 2px;
}

.our-friends__slider {
  position: relative;
  width: 100%;
  padding: 60px 0;
}

.our-friends__slider-button-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.our-friends__slider-button-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.our-friends__slider-container {
  display: flex;
  justify-content: center;
  gap: 90px;
}

/* Our friends END */

/* Pet card START */
.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 435px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  transition: all 0.3s;
}

.pet-card__img {
  border-radius: 9px 9px 0px 0px;
}

.pet-card__name {
  color: var(--color-dark-l);
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 30px 0;
}

@media (hover: hover) {
  .pet-card:hover {
    background-color: var(--color-white);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
  }

  .pet-card:hover .button {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }
}
/* Pet card END */
